img {
  /*  Limitando o tamanho da imagem para 
      melhorar avizualização
  */
  max-width: 100%;
  border-radius: 5PX;
}

body,
p,
h1,
ul,
li,
blockquote {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Vollkorn", georgia, serif;
}

/* Grid geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;

  grid-template-areas:
    "header header header"
    "sidnav content anuncios"
    "footer footer footer";
}

/* header */
.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 200px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.menu a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.menu li + li {
  margin-left: 30px;
}

/* Sidenav */
.sidenav {
  grid-area: sidnav;
  background: #FAFBFC;
  padding: 30px;
}
.sidenav ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-inline-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.sidenav a{
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: #fff;
  box-shadow: 5px 5px 55px rgba(44, 44, 44, 15%);
  border-radius: 15px;
  padding: 20px;
  transition: .1s ease-out;
}
.sidenav a:hover{
  background: #B07DFB;
}
.sidenav a{
  border-radius: 5px;
  display: block;
}

/* Conteudo */
.content {
  grid-area: content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  gap: 30px;
  padding: 30px;
}
.titulo{
  color: #b07dfb;
}
.content h1{
  font-size: 3.75em;
  font-weight: 700;
  line-height: 1;
}
.titulo span{
  font-size: .875em;
  font-style: italic;
}

main p:first-of-type{
  color: red;
  grid-column: span 2;
}



.footer {
  grid-area: footer;
}
